.portfolio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;


    .countdown-timer {
      font-size: 48px;
      color: #fff;
      font-weight: bolder;
      span {
        margin-right: 10px;
      }
    }
  }
  